@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@500&display=swap');
html{
    background-color: #000;
    overflow :hidden;
}

.HomePage__Title{
    color:#fff;
    /* font-weight: 450; */
    font-size: 3rem;
    margin-top : 10%;
    margin-left : 13%;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    width : 25%;

}

.HomePage__Welcome{
    color:#fff;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: 100  !important; 

    }
