@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html {
    background-color: #000;
    overflow: hidden;
}

.HomePage__Title {
    color: #fff;
    font-size: 3rem;
    margin-top: 7%;
    margin-left: 13%;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    width: 25%;

}

.HomePage__SubTitle {
    color: rgb(0, 0, 0); 
    font-size: 1rem;
    background-color: #fff;
    width: 17%;
    position: absolute;
    margin-top: 14%;
    margin-left: 13%;
    height: 4rem;
    display: flex;
    border-radius: 15px;
    border: 1px solid black;
}

.HomePage__SubTitle__text {
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    align-self: center;
    margin-left: 5%;
    font-weight: 800;
    border: 0px transparent transparent;

}


.HomePage__Welcome {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: 100 !important;
    opacity: 80%;

}


.HomePage__logo {
    display: grid;

    width: 25%;
    margin-top: 37%;
    margin-left: 13%;
    grid-template-rows: 2;
    grid-template-columns: 2;
    z-index: 10;
    position: absolute;
}

.HomePage__logo__main {
    color: white;
    font-family: 'Satisfy', sans-serif;
    font-size: 2.6rem;
    margin-left: 13%;

}

.HomePage__logo__main:hover {
    cursor: pointer;
}

.HomePage__logo__sub {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.6rem;
    margin-left: 14%;
    grid-row: 2;

}

hr {
    width: 28%;
    margin-left: 13%;
    margin-top: -4%;
    height: 0px;
    display: none;
}

.next {
    background: transparent;
    border: transparent;
    margin-left: 86%;
    position: sticky;
    z-index: 10;
    margin-top: 37%;
}

.next:hover {
    cursor: pointer;
}

.input__Checkbox {
    display: inline;
    width: 12%;
    margin: auto 5%;
    display: none;
    margin-left: 8%
}

.input__Checkbox__Icon {
    display: inline;
    width: 12%;
    margin: auto 5%;
    margin-left: 8%
}


.input__Checkbox__Icon:hover {
    cursor: pointer !important;
}



.MenuList {
    display: grid;
    color: white !important;
    border: 1px solid black;
    height: 4rem;
    position: absolute;
    width: 100%;
    animation-name: menu-dropdown;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

ul {
    text-decoration: none !important;
}

.MenuList__Country1 {
    border: 0px transparent transparent;
    padding: 5px;
    width: 10%;
    background-color: white;
    color: black !important;
    font-family: 'Ubuntu', monospace;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 550 !important;
    border-radius: 0px 0px 5px 5px;
    height: 2rem;
    /* margin-top: calc(14% + 0.5rem); */
    margin-left: calc(16%);
    /* position: absolute; */

}

.MenuList :hover {
    cursor: pointer;
}

.checked {
    display: grid;
}

@keyframes menu-dropdown {
    0% {
        margin-top: calc(14% + 0.15rem);
        z-index: -1;
    }

    15% {
        margin-top: calc(14% + 0.15rem);
        z-index: -1;
    }

    30% {
        margin-top: calc(14% + 0.4rem);
        z-index: -1;
    }

    45% {
        margin-top: 15%;
        z-index: -1;
    }

    60% {
        margin-top: calc(15% + 0.15rem);
    }

    75% {
        margin-top: calc(16% + 0.4rem);
    }

    90% {
        margin-top: 16%;
    }

    100% {
        margin-top: 17%;
    }
}

.MenuList__Country1:hover {
    cursor: pointer;
}

#title1{
    display: none;
}
#title2{
    display: none;
}
#title3{
    display: none;
}
#title4{
    display: none;
}
#title5{
    display: none;
}
#title6{
    display: none;
}
#title8{
    display: none;
}