@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html {
    background-color: #000;
    overflow: hidden;
}

.HomePage__Title {
    color: #fff;
    font-size: 3rem;
    margin-top: 7%;
    margin-left: 13%;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    width: 25%;

}

.HomePage__SubTitle {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    background-color: #fff;
    width: 17%;
    position: absolute;
    margin-top: 14%;
    margin-left: 13%;
    height: 4rem;
    display: flex;
    border-radius: 15px;
}

.HomePage__SubTitle__text {
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    align-self: center;
    margin-left: 5%;
    font-weight: 800;

}


.HomePage__Welcome {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: 100 !important;
}

.HomePage__SubTitle__icon {
    width: 12%;
    margin: auto 5%;
}

.HomePage__logo {
    display: grid;
    position: absolute;
    width: 25%;
    margin-top: 37%;
    margin-left: 13%;
    grid-template-rows: 2;
    grid-template-columns: 2;
}

.HomePage__logo__main {
    color: white;
    font-family: 'Satisfy', sans-serif;
    font-size: 2.6rem;
    margin-left: 13%;

}

.HomePage__logo__main:hover {
    cursor: pointer;
}

.HomePage__logo__sub {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.6rem;
    margin-left: 14%;
    grid-row: 2;

}

hr {
    width: 28%;
    margin-left: 13%;
    margin-top: -4%;
    height: 0px;
}

.next {
    background: transparent;
    border: transparent;
    margin-top: 40%;
    margin-left: 86%;


}